<footer style="background-color: #deded5;">
  <div class="container-fluid p-1">
    <div class="row">
      <div class="col-lg-6 col-md-12 mb-4">
        <h5 class="mb-3" style="letter-spacing: 2px; color: #818963;">OC Bus Tracker</h5>
        <p>
          Welcome to OC Bus Tracker! Effortlessly plan your commute with real-time updates on OC Transpo bus arrivals at your fingertips. Save time, skip the wait, and stay ahead of your schedule. Simply enter your bus stop and get instant, accurate arrival information. Your journey starts here!
        </p>
      </div>
      <div class="col-lg-3 col-md-6 mb-4">
        <h5 class="mb-3" style="letter-spacing: 2px; color: #818963;">links</h5>
        <ul class="list-unstyled mb-0">
          <li class="mb-1">
            <a href="#!" style="color: #4f4f4f; text-decoration: none;">Frequently Asked Questions</a>
          </li>
          <li class="mb-1">
            <a href="#!" style="color: #4f4f4f; text-decoration: none;">How to use?</a>
          </li>
        </ul>
      </div>
      <div class="col-lg-3 col-md-6 mb-4">
        <h5 class="mb-1" style="letter-spacing: 2px; color: #818963;">Contact Us</h5>
        <p>Email: swars032@uottawa.ca </p>
        <p>Phone No: 613-889-9830 </p>
        
      </div>
    </div>
  </div>
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2020 Copyright:
    <a class="text-dark" href="https://mdbootstrap.com/">MDBootstrap.com</a>
  </div>
  <!-- Copyright -->
</footer>